body{background-color: #fff;}

.header{padding: .3rem 0;background-color: #FD7400;height: auto;}
.header>a.back{width: 2.5rem;height: 1.5rem;background: url("../images/return-1.png") no-repeat center/auto 80%;}
.header .title{width: calc(100% - 5rem);height: 1.5rem;text-align: center;color: #fff;line-height: 1.5rem;background: none;padding: 0;border: none;}

a.link:first-of-type{margin-top: 2rem;}
a.link{display: block;font: .9rem/3 'Microsoft YaHei';color: #000;padding: 0 2.5%;border-bottom: 1px solid #bbb;width: 95%;margin: auto;}
p.title{font: .9rem/1.5 'Microsoft YaHei';color: #777;padding: .8rem 2.5% 0;border-bottom: 1px solid #bbb;width: 95%;margin: auto;}
label{display: block;font: .9rem/3 'Microsoft YaHei';border-bottom: 1px solid #eee;padding-left: 2.5%;width: 95%;margin: auto;}
label input[type="checkbox"]{height: 2.5rem;margin: .1rem 0;width: 2.5rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url("../images/icon_switClose.png") no-repeat center/100% 100%;}
label input[type="checkbox"]:checked{background: url("../images/icon_switOpen.png") no-repeat center/100% 100%;}

a.signOut{display: block;height: 2.5rem;font: .9rem/2.5rem 'Microsoft YaHei';text-align: center;background-color: #d33f3f;color: #fff;box-shadow: 0 3px 3px #c2d0d0;width: 95%;margin: .5rem auto;}

